@use "../base" as *;

.skills{
    padding: 20px 100px;
    &__card{
        margin: 80px 0;
        display: grid;
        grid-template-columns: repeat(4, 25%);
        justify-content: space-between;
        row-gap: 80px;
    }

    &__heading{
        font-size: 2rem;
        text-decoration: underline;
        text-align: center;
        margin-top: 20px;
    }
    .skill{
        img{
            height: 125px;
            width: 125px;
        }
    }
}