@use "../base" as *;

.home {
    &__buttons{
        display: flex;
        align-items: center;
    }
    .btn{
        border-radius: 50px;
        height: 60px;
        width: max-content;
        padding: 10px 40px;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        margin-right: 30px;
        

        &__primary{
            background-color: $clr-brand;
            color: $clr-neutral;
        }

        &__neutral{
            color: $clr-brand;
            border: 2px solid $clr-brand;
        }
    }
}