@use "../base" as *;

.contact {
  display: grid;
  place-items: center;
  &__title {
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
  }
  &__text {
    text-align: center;
    width: min(75%, 70rem);
    font-size: 1.4rem;

    .highlight {
      font-weight: 700;
    }
  }

  &__menus {
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  &__links {
    height: 50px;
    width: 50px;
  }
}


@include media('>phone', '<=tablet'){
  .contact{
    &__text{
      font-size: 1.2rem;
    }

    &__links{
      height: 40px;
      width: 40px;
    }
  }
}

@include media('<=374px'){
  .contact{
    &__title {
      font-size: 1.8rem;
      margin-bottom: 20px;
    }
    &__text{
      font-size: 1.1rem;


        text-align: center;
        width: 85%;

        .highlight {
          font-weight: 700;
        }
    }
    
    &__links{
      height: 35px;
      width: 35px;
    }
  }
}