@use "../base/" as *;

.footer {
  height: 80px;
  background-color: $clr-brand;
  color: $clr-neutral;
  font-size: 1rem;
  display: grid;
  place-items: center;
}


@include media('>phone', '<=tablet'){
  .footer{
    height: 60px;
    font-size: 0.8rem;
    padding: 0 30px;
    text-align: center;
  }
}


@include media('<=374px'){
  .footer{
    height: 60px;
    font-size: 0.8rem;
    padding: 0 30px;
    text-align: center;
  }
}
