@use "../base" as *;

.projects {
  padding-top: 60px;
  &__heading {
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 50px;
  }
}

.project {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  place-items: center;

  &__links {
    padding: 30px 40px 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 500;
  }
}


@include media('>=tablet', '<=985px'){
  .project{
    grid-template-columns: repeat(1, 50%);
    place-items: center;
    justify-content: center;
    gap: 80px;
  }
}


@include media('>phone', '<=tablet'){
  .projects{
    &__heading{
      font-size: 1.8rem;
      margin-bottom: 30px;
    }
  }
  .project{
    grid-template-columns: repeat(1, 100%);
    place-items: center;
    justify-content: center;
    gap: 80px;
  }
}

@include media('<=374px'){
  .projects{
    &__heading{
      font-size: 1.8rem;
      margin-bottom: 30px;
    }
  }
  .project{
    grid-template-columns: repeat(1, 100%);
    place-items: center;
    justify-content: center;
    gap: 80px;

    &__links{
      justify-content: center;
      gap: 40px;
    }
  }
}