@use "../base" as *;

.skills {
  padding: 5px 100px;
  padding-top: 65px;
  &__card {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: space-between;
    row-gap: 80px;
  }

  &__heading {
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
  }
  .skill {
    img {
      height: 100px;
      width: 100px;
    }
  }
}


@include media('>=tablet', '<=985px'){
  .skills{
    padding: 5px 50px;

    &__card{
      grid-template-columns: repeat(5, 12.5%);
    }
  }
}


@include media('>phone', '<=tablet'){
  .skills{
    padding: 5px 50px;

    &__card{
      grid-template-columns: repeat(2, 50%);
    }
  }
  .skill {
    img {
      height: 80px;
      width: 80px;
    }
  }
}

@include media('<=374px'){
  .skills{
    padding: 5px 40px;

    &__heading{
      font-size: 1.8rem;
      margin-bottom: 30px;
    }

    &__card{
      grid-template-columns: repeat(2, 50%);
    }
  }
  .skill {
    img {
      height: 70px;
      width: 70px;
    }
  }
}