@use "../base" as *;

.btn {
  border-radius: 50px;
  height: 50px;
  width: max-content;
  padding: 10px 30px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;

  &__primary {
    background-color: $clr-brand;
    color: $clr-neutral;
    border: 2px solid $clr-brand;
    &:hover {
      background-color: $clr-neutral;
      color: $clr-brand;
      border: 2px solid $clr-brand;
    }
  }

  &__neutral {
    color: $clr-brand;
    border: 2px solid $clr-brand;
    &:hover {
      background-color: $clr-brand;
      color: $clr-neutral;
    }
  }
}

.home {
  &__buttons {
    display: flex;
    align-items: center;
  }
  .btn {
    margin-right: 50px;
  }
}

@include media('>=tablet', '<=985px') { 
  .home {
    .btn {
      margin-right: 20px;
      padding: 10px 20px;
    }
  }
}

@include media('>phone', '<=tablet'){
  .btn {
    padding: 10px 20px;
  }

  .home{
    &__buttons{
      justify-content: space-between;
    }
    .btn{
      margin-right: 0;
    }
  }
}

@include media('<=374px'){
  .btn {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  .home{
    &__buttons{
      justify-content: space-between;
    }
    .btn{
      margin-right: 0;
    }
  }
}
